<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">currencyCodeA</th>
      <th scope="col">currencyCodeB</th>
      <th scope="col">date</th>
      <th scope="col">rateBuy</th>
      <th scope="col">rateSell</th>
    </tr>
  </thead>
  <tbody>
    <% @currency.each do |currency| %>
      <tr>
        <td><%= currency['currencyCodeA'] %></td>
        <td><%= currency['currencyCodeB'] %></td>
        <td><%= currency['date'] %></td>
        <td><%= currency['rateBuy'] %></td>
        <td><%= currency['rateSell'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>