<table class="table table-striped table-dark">
  <% if @currency_rates.present? %>
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">Buy</th>
        <th scope="col">Sell</th>
        <th scope="col">Cross</th>
      </tr>
    </thead>
    <tbody>
      <% @currency_rates.each do |currency| %>
        <tr>
          <td><%= currency_name(currency.iso_nummeric_from) %></td>
          <td><%= currency_name(currency.iso_nummeric_to) %></td>
          <td><%= currency_date(currency.date_int) %></td>
          <td><%= currency.rate_buy %></td>
          <td><%= currency.rate_sell %></td>
          <td><%= currency.rate_cross %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <tbody>
      <tr>
        <td class="text-center"> No currencies available. Please, try again in a minute. </td>
      </tr>
    </tbody>
  <% end %>
</table>

