<%= form_with url: transactions_path, method: :get, local: true, class: "mb-3" do %>
  <div class="input-group">
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search by description..." %>
    <%= number_field_tag :mcc, params[:mcc], class: "form-control no-spinners", placeholder: "Search by MCC code...", inputmode: "numeric" %>
    <button class="btn btn-outline-dark" type="submit">Search</button>
  </div>
<% end %>

<table class="table table-hover table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Description</th>
      <th scope="col">MCC</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= currency_date(transaction.time_int) %> </td>
        <td><%= transaction.description %></td>

        <td><%= "#{MCC.code(transaction.mcc)&.usda_description} #{transaction.mcc}" %></td>
        <td><%= Money.from_cents(transaction.amount, 'UAH').format %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-start align-items-start flex-wrap gap-2 mt-2">
  <%== pagy_bootstrap_nav(@pagy) %>

  <%= form_with url: sync_transactions_path, method: :post, local: true do %>
    <div class="input-group">
      <%= submit_tag "Sync", class: "btn btn-outline-dark" %>
      <%= date_field_tag :from_date, params[:from_date].presence || 1.week.ago.to_date, class: "form-control" %>
      <%= date_field_tag :to_date, params[:to_date].presence || Date.current, class: "form-control" %>
    </div>
  <% end %>
</div>

<div class="container my-3">
  <div class="row text-center g-2">
    <div class="col-md-4">
      <div class="card bg-dark text-white shadow-sm border-0 p-2">
        <div class="card-body p-2">
          <small class="text-light">Total transactions</small>
          <h5 class="my-1 text-info"><%= @pagy.count %></h5>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card bg-dark text-white shadow-sm border-0 p-2">
        <div class="card-body p-2">
          <small class="text-light">Total Spent</small>
          <h5 class="my-1 text-danger"><%= Money.from_cents(@total_spent, 'UAH').format %></h5>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card bg-dark text-white shadow-sm border-0 p-2">
        <div class="card-body p-2">
          <small class="text-light">Total Income</small>
          <h5 class="my-1 text-success"><%= Money.from_cents(@total_income, 'UAH').format %></h5>
        </div>
      </div>
    </div>
  </div>
</div>
